*{
	margin: 0;
	padding: 0;
}

.card-container{
	display: none;
}




.text-center{
	display: none;
}
 

 nav{
 	display: none;
 }


.card-group{
	display: none;
}









.global{
	display: flex;
}

.global > .block1 {
width: 180px;
height: 959px;
border: 1px solid black;
text-align: center;
background-color: black;

}

.global > .block1 > .ico{
		text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;

}

.global > .block1 > .ico a >  img{
	width: 100px;
	height: 100px;

	
	}


.global > .block1 > .link{
	margin-top: 180px;
}
.global > .block1 > .link > a{
	color: gold;
	text-decoration: none;
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 10px;
}


.global > .block1 > .link > a:hover{
	color: white;
	transition: 0.1s;
}

.block2 {
	
	 width: 100%;
	 height: 961px;
    display: flex;
    justify-content: center;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,61,57,1) 44%, rgba(57,92,107,1) 88%, rgba(57,92,107,1) 100%, rgba(57,92,107,1) 100%);
align-items: center;
      
}


.block2 > img{
	    width: 50%;
    height: 30%;
    text-align: center;

}



.block2 > #player{
	width: 80%;
	margin: 0 auto;
	margin-top: 5%;

	
}









@media only screen and (max-width: 900px){
	.global{
		display: none;

	}

.card-container{
	display: block;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.cardd {
  display: flex;
  flex-direction: column;
  align-items: center;
text-align: center;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-width: 250px;
}

.cardd img {
  width: 50%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cardd h2 {
  font-size: 2.2rem;
  text-align: center;
  margin: 0;
}




.card-group{
	display: block;
}


	nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #fff;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  z-index: 1;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  z-index: 1;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: gold;
  text-decoration: none;
  z-index: 1;
}

nav ul li a:hover {
  background-color: #555;
}

.content {
  padding: 20px;
}


.text-center{
	display: block;
}

nav{
	display: block;
}


.text-center > .row > .col > img{
		width: 15%;
    margin-bottom: 25px;
	}


		.text-center > .row > .col {
    font-weight: 900;
    font-size: 26px;

			
		}


}



@media only screen and (min-width: 900px){
	nav{
		display: none;

	}

nav > ul > li > a > img{
	color: gold;
}


}










	



/*	support style*/

footer {
 
  color: black;
 
  text-align: center;
   margin-top: 40%;
}

footer h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li a {
  color: black;
  font-size: 20px;
}

.social-icons li a:hover {
  color: gold;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  footer {
    text-align: center;

  }
  .social-icons {
    margin-top: 20px;
  }
}
